@charset "utf-8";

// Import only what you need from Bulma

@import "../../node_modules/bulma/sass/utilities/mixins.sass";
//@import "../../node_modules/bulma/sass/base/_all.sass";

@import "./spacing.sass";